       ORG          0
       SNE.I  $  -994, $ -1164     
       SEQ.I  $  1384, $  1214     
       JMP.B  $    19, $     0     
       SNE.I  $  -257, $  2743     
       SEQ.I  $  2121, $ -2879     
       JMP.B  $    15, $     0     
       SNE.I  $  2940, $ -2540     
       SEQ.I  $ -2682, $  -162     
       JMP.B  $    12, <    11     
       SNE.I  $   757, $  3927     
       SEQ.I  $  3135, $ -1695     
       DJN.F  $     9, $    21     
       SNE.I  $  2220, $  1022     
       SEQ.I  $ -3402, $  3400     
       DJN.F  $     6, $    12     
       SNE.I  $   651, $ -1909     
       SEQ.I  $  3029, $   469     
       JMP.B  $     2, $     0     
       JMP.B  $    45, $     0     
       MUL.X  $    13, $    13     
       MUL.F  @    -1, $     6     
       SNE.I  *     5, @     5     
       ADD.F  $    11, $     4     
       SEQ.I  $   -24, *     3     
       MOV.X  $     2, $     2     
       MOV.I  $     5, @     1     
       MOV.I  $ -1020, } -1190     
       ADD.AB #     7, $    -1     
       DJN.B  $    -3, #    20     
       JMP.B  $    34, $     0     
       DAT.F  >   -87, >     1     
       DAT.F  $ -2646, $ -2176     
       DAT.F  $ -2486, $  1712     
       DAT.F  $  2379, $  2379     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.I  <     5, {     5     
       MOV.I  <     4, {     4     
       MOV.I  <     3, {     3     
       MOV.I  <     2, {     2     
       DJN.B  $    -4, #     4     
       SPL.B  @ -3278, $    17     
       MOV.I  #     0, {     0     
       DAT.F  $     0, $     0     
       ADD.F  $     9, $     1     
       SNE.I  $   -88, $   -80     
       JMN.A  @     6, @    -2     
       MOV.AB $    -2, @     2     
       MOV.AB #     8, @     3     
       MOV.I  $     4, >    -7     
       MOV.I  $     3, >    -8     
       DJN.B  @    -4, $    -3     
       JMN.A  @    -6, @    -8     
       SPL.B  #  -101, $  -101     
       MOV.I  $     3, >    -4     
       DJN.F  $    -1, >    -5     
       DAT.F  $     0, $     0     
       DAT.F  <  2667, $    10     
       END
