       ORG         65
       DAT.F  >   -87, > -1375     
       MOV.I  $    25, $ -3405     
       SPL.B  }     2, }  2487     
       SPL.B  $     1, }   418     
       SPL.B  $     0, } -1651     
       MOV.I  <    15, {     1     
       SPL.B  $ -3145, <  1719     
       MOV.I  {    28, {     2     
       SPL.B  *    -2, <  -899     
       DJN.F  $   560, <   821     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $   -18, $  3452     
       DAT.F  $   -19, $  1383     
       DAT.F  $     0, $     0     
       SPL.B  #     0, $     6     
       MOV.I  $  -260, @     2     
       ADD.AB #    34, $     1     
       MOV.I  $  -262, }   754     
       DJN.F  $    -3, {  2926     
       DAT.F  $     0, $     0     
       DAT.F  }    17, >     1     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SPL.B  $   561, {     3     
       MOV.I  }     2, }    -1     
       MOV.I  $     3, >  -843     
       MOV.I  $     3, }    -3     
       JMZ.F  $    -4, *    -1     
       DAT.F  < -2666, <  2667     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SNE.I  $  -625, $  -207     
       SEQ.I  <   -49, $  3820     
       DJN.A  $    25, {    25     
       SNE.I  $  2528, $  2946     
       SEQ.I  <   -69, $ -1027     
       JMP.B  $    22, }    22     
       SNE.I  $ -2699, $ -2281     
       SEQ.I  <   -54, $  1746     
       JMP.B  $    19, {    19     
       SNE.I  $  2250, $   599     
       SEQ.I  <   -71, $ -3375     
       JMP.B  $    16, }    18     
       SNE.I  $ -1617, $   870     
       SEQ.I  <   -76, $ -3104     
       JMP.B  $    13, {    15     
       SNE.I  $ -3688, $ -3270     
       SEQ.I  <   -78, $   756     
       DJN.F  $    10, < -1093     
       SEQ.I  >    13, $ -3598     
       JMP.B  $     9, <    12     
       SEQ.I  $ -2837, $ -2420     
       JMP.B  $     6, }     6     
       SEQ.I  $  2695, $  3112     
       JMP.B  $     4, {     4     
       SEQ.I  $ -1170, $  -753     
       DJN.A  $     2, {     2     
       JMZ.F  $   -90, $  1163     
       MUL.B  *     2, $     4     
       SNE.I  {   -75, @     3     
       ADD.B  $   -91, $     2     
       MOV.I  $   -95, @     1     
       MOV.I  $   -96, }  3972     
       SUB.AB #    -7, $    -1     
       DJN.B  $    -3, #    19     
       JMP.B  $   -98, <   855     
       END
