       ORG          8
       DAT.F  $    16, $  2057     
       DAT.F  $     1, $ -1694     
       DAT.F  $    29, $  2555     
       DAT.F  $    35, $ -1196     
       DAT.F  $     0, $   -67     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SNE.I  $   298, $   422     
       SEQ.I  <    -9, $  2171     
       DJN.A  $    42, {    -9     
       SNE.I  $ -3455, $ -3331     
       SEQ.I  <   -11, $ -1582     
       JMP.B  $    39, {   -12     
       SNE.I  $   792, $   916     
       SEQ.I  <   -13, $  2665     
       JMP.B  $    36, $ -1959     
       SNE.I  $ -2961, $ -2837     
       SEQ.I  <   -15, $ -1088     
       JMP.B  $    33, }   -18     
       SNE.I  $ -3714, $ -3590     
       SEQ.I  <    -5, $ -1841     
       JMP.B  $    30, {    30     
       SNE.I  $ -3967, $ -3843     
       SEQ.I  <     7, $ -2094     
       JMP.B  $    27, }    27     
       SNE.I  $ -3220, $ -3096     
       SEQ.I  <    55, $ -1347     
       JMP.B  $    23, {     2     
       SNE.I  $  1027, $  1151     
       SEQ.I  <    53, $  2900     
       JMP.B  $    20, $ -2224     
       SNE.I  $ -2726, $ -2602     
       SEQ.I  <    51, $  -853     
       JMP.B  $    17, }    -4     
       SNE.I  $  1771, $  1895     
       SEQ.I  <     2, $  3644     
       JMP.B  $   -12, }    15     
       JMP.B  $    43, $  3519     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.A  #   -22, $     1     
       MUL.B  *   -51, $     4     
       SNE.I  $    42, @     3     
       ADD.AB #   124, $     2     
       MOV.I  $   -51, @     1     
       MOV.I  $   -52, @ -1750     
       ADD.AB #     6, $    -1     
       DJN.B  $    -3, #    16     
       JMP.B  $    22, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.I  <     5, {     5     
       SPL.B  $     2, $ -1525     
       SPL.B  $     1, $  2724     
       SPL.B  $     1, $ -1027     
       MOV.I  <     1, {     1     
       SPL.B  $ -3992, $     8     
       MOV.I  <     1, {     1     
       SPL.B  $  2007, $     7     
       SPL.B  @     0, >  2278     
       MOV.I  }    -1, >    -1     
       MOV.I  {    -2, <     1     
       SPL.B  @     0, >   450     
       MOV.I  #  3332, }  2667     
       MOV.I  >     0, }     0     
       DAT.F  $     0, $     0     
       END
