       ORG         64
       DAT.F  $     0, {  1066     
       SPL.B  $     1, { -2061     
       MOV.I  $    -1, #  2812     
       SPL.B  @     0, <  -528     
       MOV.I  }    -1, >    -1     
       MOV.I  }    -2, >    -2     
       SPL.B  @     0, < -2013     
       MOV.I  }    -1, >    -1     
       MOV.I  $     4, > -1170     
       MOV.I  $     3, }  3824     
       MOV.I  {    -4, <     1     
       JMP.B  @     0, >  2935     
       DAT.F  <  2667, < -2666     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.I  $    11, $  2500     
       SPL.B  $     1, $ -1617     
       SPL.B  $     1, $  3256     
       MOV.I  <     3, {     3     
       SPL.B  $   -30, $     0     
       SPL.B  $     1, $     0     
       JMP.B  $ -2225, $     5     
       SPL.B  #     0, $     0     
       ADD.X  $ -3278, $     1     
       DJN.F  $  3577, { -1135     
       DAT.F  $     0, $     0     
       MOV.I  #   407, $  1143     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SNE.I  $ -1535, $ -3596     
       SEQ.I  <    34, $  1465     
       JMP.B  $    25, }    25     
       SNE.I  $  1282, $  -779     
       SEQ.I  <   -39, $ -3718     
       DJN.A  $    22, {    22     
       SNE.I  $ -1847, $ -3908     
       SEQ.I  <   -41, $  1153     
       JMP.B  $    19, {    19     
       SNE.I  $  3930, $ -3004     
       SEQ.I  <   -74, $  2056     
       JMP.B  $    16, {    18     
       SNE.I  $ -2325, $   487     
       SEQ.I  <   -75, $ -2453     
       JMP.B  $    13, }    15     
       SNE.I  $   798, $ -1263     
       SEQ.I  <   -79, $  3797     
       JMP.B  $    10, $     0     
       SEQ.I  >    13, $   889     
       JMP.B  $     9, <    12     
       SEQ.I  $ -1001, $ -3063     
       JMP.B  $     6, }     6     
       SEQ.I  $ -1546, $ -3608     
       JMP.B  $     4, {     4     
       SEQ.I  $ -3295, $  2643     
       DJN.A  $     2, {     2     
       JMZ.F  $   -62, $  1725     
       MUL.B  *     2, $     4     
       SNE.I  <   -62, @     3     
       ADD.B  $   -92, $     2     
       MOV.I  $     5, @     1     
       MOV.I  $     4, }  2938     
       ADD.AB #     7, $    -1     
       DJN.B  $    -3, #    20     
       JMP.B  $   -70, $     0     
       DAT.F  {   -86, {  3493     
       END
