       ORG          0
       SNE.I  $  1348, $ -1043     
       SEQ.I  <    16, $  1242     
       JMP.B  $    90, }    90     
       SNE.I  $  2239, $  -152     
       SEQ.I  <    36, $  2133     
       DJN.A  $    87, {    87     
       SNE.I  $  2006, $  -385     
       SEQ.I  >    34, $  -281     
       JMP.B  $    84, {    84     
       SNE.I  $ -3103, $  2506     
       SEQ.I  <    18, $ -3209     
       JMP.B  $    81, {    85     
       SNE.I  $   450, $ -1941     
       SEQ.I  <    17, $   344     
       JMP.B  $    78, }    82     
       SNE.I  $  1867, $  -524     
       SEQ.I  <    13, $ -3848     
       JMP.B  *    -6, $  3618     
       SNE.I  $ -1564, $ -3955     
       SEQ.I  >    77, $   182     
       JMP.B  $    72, <     9     
       SEQ.I  $ -2555, $  3054     
       JMP.B  $    70, }    74     
       SEQ.I  $   618, $ -1773     
       DJN.B  $    68, {    72     
       SEQ.I  $ -3004, $  2605     
       JMP.B  $    66, {    66     
       MOV.I  $    44, $  1072     
       SPL.B  $    18, }  -835     
       SPL.B  $     1, }  1749     
       SPL.B  $     1, }  2719     
       MOV.I  <     2, {     2     
       MOV.I  <     1, {     1     
       JMP.B  $  -916, $    30     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  }   -87, $ -3511     
       DAT.F  }   -87, $ -2706     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MOV.I  $    24, {     4     
       MOV.I  {    -1, {     3     
       MOV.I  {    -2, {     2     
       MOV.I  {    -3, {     1     
       JMP.B  $ -1165, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SPL.B  #  2090, < -2090     
       MOV.I  {  2090, < -2133     
       MOV.I  $     5, @    -1     
       ADD.F  $    -3, $    -2     
       DJN.F  @    -1, *    -3     
       MOV.I  $     2, >   -11     
       DJN.F  $    -1, >   -12     
       DAT.F  <     1, $    47     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       SPL.B  #  -619, { -2668     
       SUB.X  $    -1, $     2     
       MOV.I  $  2216, }    -2     
       DJN.F  $  2042, <  2768     
       MOV.I  #     1, $  2667     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       DAT.F  $     0, $     0     
       MUL.B  *     4, $     4     
       SNE.I  $   -94, @     3     
       ADD.AB # -2391, $     2     
       MOV.I  $   -54, @     1     
       MOV.I  >   -67, } -2286     
       SUB.AB $   -80, $    -1     
       DJN.B  $    -3, #    19     
       JMP.B  $   -72, $     0     
       END
