       ORG          0
       MOV.I  >    29, $    13     
       SPL.I  #   -26, >    22     
       MOV.I  }   -11, {     0     
       MOV.I  >   -25, {    -2     
       DJN.X  $    -2, $    -3     
       END
