       ORG          0
       MOV.I  <   -35, $    13     
       SPL.AB #    38, >   -23     
       MOV.I  *    -8, {     0     
       MOV.I  >   -35, {    -2     
       DJN.X  $    -2, $    -3     
       END
