       ORG          0
       SPL.B  #     8, {    15     
       MOV.I  {    32, {    -8     
       MOV.I  {     1, {    28     
       MOV.I  {   -36, {   -30     
       DJN.F  $    -3, {    39     
       END
