       ORG          0
       SPL.B  #   -27, <    37     
       MOV.I  @    -5, {    -1     
       MOV.I  <    -2, {    -1     
       MOV.I  {    -2, {    19     
       DJN.F  $    -2, {    -4     
       END
