       ORG          0
       SPL.B  #     0, }   -14     
       SPL.B  @    -1, >   -37     
       MOV.I  }    -2, >    -2     
       MOV.I  {   -33, <   -36     
       DJN.F  $    -2, <   -25     
       END
