       ORG          0
       SPL.B  #    -4, >   -24     
       MOV.I  $     1, <     1     
       MOV.I  >   -29, >    18     
       MOV.I  $     3, {    -3     
       DJN.I  $    -1, <   -33     
       END
