       ORG          0
       SPL.B  #   -12, {   -27     
       MOV.I  *    -5, <    -1     
       MOV.I  @    17, {    -1     
       MOV.I  <    17, {    -1     
       JMP.I  $    -1, >    -1     
       END
