       ORG          0
       SPL.B  #   -21, <    19     
       MOV.I  }    -6, {    -1     
       MOV.I  <    -2, {    -1     
       MOV.I  {    -3, {    20     
       DJN.F  $    -3, <    27     
       END
