       ORG          0
       SPL.B  #    10, >    40     
       MOV.I  $     3, }    -1     
       MOV.I  >    -2, }    -2     
       DJN.F  $    -2, }    -3     
       DAT.F  $     5, $    20     
       END
