       ORG          0
       SPL.A  #   -16, >   -37     
       MOV.I  *     9, }     1     
       MOV.I  #   -36, }     0     
       MOV.I  }    -1, }    -2     
       DJN.I  $    -1, }    -4     
       END
