       ORG          0
       SPL.X  #    10, >   -39     
       MOV.I  $     3, }    -1     
       MOV.I  #   -29, <   -12     
       DJN.X  $    -2, }    -3     
       DAT.X  *    14, @   -13     
       END
