       ORG          0
       SPL.F  #    38, >    12     
       MOV.I  #    24, <     1     
       MOV.I  <     0, {   -36     
       DJN.I  $    -2, <    -5     
       JMP.F  #    21, <   -22     
       END
