       ORG          0
       SPL.B  #   -32, {    -9     
       MOV.I  >   -30, {    -1     
       MOV.I  >   -28, {    36     
       MOV.I  >    14, {   -12     
       DJN.F  $    -2, {    34     
       END
