       ORG          0
       SPL.B  #     0, >    10     
       MOV.I  }    -1, }     1     
       SPL.B  {   -28, <   -15     
       MOV.I  @    -5, <    -7     
       JMP.B  $    -1, <   -11     
       END
