       ORG          0
       SPL.B  #    32, >   -24     
       MOV.I  }   -29, {    -4     
       MOV.I  >    -2, {    -1     
       MOV.I  >    33, {    -3     
       DAT.AB >    35, {    -4     
       END
