       ORG          0
       SEQ.I  $    19, $    14     
       MOV.X  #   -38, #    11     
       SPL.B  #    18, {     1     
       MOV.I  }    36, }    -2     
       DJN.F  $    -1, }    -3     
       END
