       ORG          0
       SPL.X  #     0, <    28     
       MOV.I  }    -1, >    -1     
       MOV.I  >    36, {    15     
       MOV.I  >   -36, {    -7     
       DJN.I  @    25, $    -8     
       END
