       ORG          0
       SPL.X  #     0, >    21     
       MOV.I  }    -1, >    -1     
       MOV.I  <    -7, <    37     
       MOV.I  <    36, <    -8     
       DJN.I  }    18, <   -31     
       END
