       ORG          0
       SPL.X  #     0, <   -13     
       MOV.I  }    -1, >    -1     
       MOV.I  >    29, <   -30     
       MOV.I  >    18, $    39     
       DJN.I  @   -16, <     1     
       END
