       ORG          0
       SPL.I  #   -38, >    18     
       MOV.I  *   -14, {     0     
       MOV.I  >   -32, {    -2     
       DJN.F  $    -2, $    -3     
       MOV.I  $    -4, <    19     
       END
