       ORG          0
       MOV.I  <   -30, $    -9     
       SPL.A  #   -36, >    18     
       MOV.I  >   -14, {     0     
       MOV.I  >   -29, {    -2     
       DJN.F  $    -2, $    -3     
       END
