       ORG          0
       MOV.I  >    29, $    13     
       SPL.I  #   -35, >   -28     
       MOV.I  }   -11, {     0     
       MOV.I  >   -23, {    -2     
       DJN.I  $    -2, $    -3     
       END
