       ORG          0
       SPL.F  #   -34, >   -18     
       MOV.I  }    -6, {    -1     
       MOV.I  }   -23, {    -1     
       MOV.I  >    25, {    -1     
       MOV.I  #     3, $     1     
       END
