       ORG          0
       SPL.B  #   -15, >    16     
       MOV.I  }    -5, <    36     
       MOV.I  >     8, {    -2     
       MOV.I  <    34, <   -34     
       MOV.I  >    36, {    -3     
       END
