       ORG          0
       SPL.BA #   -11, <    33     
       MOV.I  *    20, {    -1     
       MOV.I  >    34, <    -2     
       DJN.X  $    -2, $    -3     
       SPL.A  @     0, *     0     
       END
