       ORG          0
       SPL.X  #   -25, >    20     
       MOV.I  <   -24, {    -1     
       MOV.I  *    30, {     1     
       MOV.I  @    38, {    -4     
       MOV.I  >   -24, <    21     
       END
