       ORG          0
       SPL.F  #    -4, >    36     
       MOV.I  #    24, <     2     
       MOV.I  {    -1, {    -2     
       MOV.I  >    13, {    25     
       DJN.X  $    -3, <   -21     
       END
