       ORG          0
       SPL.B  #    36, }    40     
       SPL.B  #     8, }     0     
       MOV.I  >    32, }    -1     
       MOV.I  #   -17, }     1     
       DJN.B  }   -22, <   -39     
       END
