       ORG          0
       MOV.I  <    22, $    17     
       SPL.B  #    20, >   -21     
       MOV.I  #    24, <     1     
       MOV.I  <     0, {   -36     
       DJN.F  $    -2, <    -6     
       END
