       ORG          1
       SPL.B  #   -14, {     0     
       MOV.I  >    30, {    -1     
       MOV.I  >    15, {    -6     
       MOV.I  >   -37, {    -2     
       DJN.F  $    -4, {    -3     
       END
