       ORG          0
       MOV.I  >   -20, $    -5     
       SPL.B  #   -11, <    35     
       MOV.I  <    -1, {    -1     
       MOV.I  {    -2, <    -2     
       DIV.F  {   -33, {   -33     
       END
