       ORG          0
       SPL.I  #    -3, <    40     
       MOV.I  <    -1, {   -27     
       MOV.I  >    17, {    -2     
       MOV.I  {   -29, <    -3     
       DJN.I  $    -2, <   -20     
       END
