       ORG          0
       SPL.F  #    23, >   -23     
       MOV.I  >    -1, {   -38     
       MOV.I  >    23, {    -8     
       MOV.I  {    40, {    -3     
       MOV.I  {    25, {   -30     
       END
