       ORG          0
       MOV.I  >    22, $    10     
       SPL.A  #    -6, >   -38     
       MOV.I  <    -1, {    -1     
       MOV.I  {    -2, <    -2     
       DJN.X  $    -2, <   -34     
       END
