       ORG          0
       ADD.F  #     1, $     1     
       SNE.F  >     1, >     1     
       JMZ.F  $    -1, >     1     
       SPL.B  *    -1, $     1     
       MOV.I  $     1, <    -1     
       END
