       ORG          0
       MOV.I  {    -3, $   -27     
       SPL.B  #   -30, >    21     
       MOV.I  {    -2, {    -1     
       MOV.I  >    23, {    -3     
       DJN.F  $    -2, $    -3     
       END
