       ORG          0
       MOV.I  <    23, $   -39     
       SPL.B  #     9, <    -5     
       MOV.I  }     1, }    -1     
       MOV.I  <    23, <    -7     
       DJN.F  $    -2, <   -29     
       END
