       ORG          0
       SPL.B  #    22, <   -34     
       MOV.I  <    -4, {    -1     
       MOV.I  <   -32, <    -5     
       MOV.I  }    -1, <   -37     
       DJN.F  $    -2, <    27     
       END
