       ORG          0
       MOV.I  >    11, $    23     
       SPL.B  #     0, <   -16     
       MOV.I  }    -1, >    -1     
       MOV.I  >    10, <   -35     
       DJN.F  *   -18, <    32     
       END
