       ORG          0
       SPL.B  #   -14, <    37     
       SPL.B  $    28, >   -38     
       MOV.I  $    -1, $    27     
       MOV.I  #     7, }    27     
       MOV.I  #    15, $    27     
       END
