       ORG          0
       MOV.I  >   -39, $   -23     
       SPL.B  #     8, }     0     
       MOV.I  {    -7, }    -1     
       MOV.I  <   -36, {    -8     
       DIV.X  >     0, $    31     
       END
