       ORG          0
       MOV.I  >   -37, $    32     
       SPL.I  #   -28, >    24     
       MOV.I  }    -6, {     0     
       MOV.I  <   -24, {    -2     
       DJN.I  $    -2, $    -3     
       END
