       ORG          0
       MOV.I  <    34, $    17     
       SPL.B  #   -17, <   -29     
       MOV.I  >   -13, {    -1     
       MOV.I  <    -7, <   -31     
       DJN.F  $    -1, <    27     
       END
