       ORG          0
       SPL.F  #   -14, }   -31     
       MOV.I  {    -1, {    -4     
       MOV.I  <    -2, {    -2     
       MOV.I  >    24, <    -3     
       DIV.I  $    12, }     0     
       END
