       ORG          1
       SUB.AB #    38, #   -33     
       JMZ.F  $    -1, @    -1     
       MOV.I  $     2, >    -2     
       DJN.F  $    -2, {    38     
       MOV.I  #     5, $    -1     
       END
