       ORG          0
       SPL.X  #    40, {   -11     
       MOV.I  >   -12, {    -1     
       MOV.I  {    -2, {   -13     
       SPL.F  {     2, >    20     
       MOV.I  #   -39, }     1     
       END
