       ORG          0
       SPL.I  #    -4, <   -14     
       MOV.I  >    27, {    -1     
       MOV.I  >     9, <   -22     
       MOV.I  <   -23, }    -1     
       DJN.I  $    -2, <    37     
       END
