       ORG          0
       SPL.B  #   -11, >   -32     
       MOV.I  }    27, {    -1     
       MOV.I  >    -2, {    -1     
       MOV.I  >   -24, {    37     
       DJN.X  @    -2, <    40     
       END
