       ORG          0
       SPL.B  #    28, <   -21     
       MOV.I  }    -2, }     1     
       SPL.B  <   -19, >     8     
       MOV.I  #   -16, }     1     
       DJN.F  <    33, <   -13     
       END
