       ORG          0
       SPL.B  #   -22, >    15     
       MOV.I  #   -12, {    -1     
       SPL.B  $   -25, >    18     
       SPL.B  $    28, >    15     
       MOV.I  #   -38, $    27     
       END
