       ORG          0
       SPL.B  #     0, >   -11     
       MOV.I  }    -1, }     1     
       SPL.B  <   -27, >   -19     
       MOV.I  *    15, <    -7     
       DJN.F  $    -1, <   -31     
       END
