       ORG          0
       MOV.I  >   -22, $    13     
       SPL.F  #   -26, >    35     
       MOV.I  }    -7, {     0     
       MOV.I  >   -20, {    -2     
       DJN.I  $    -2, $    -3     
       END
