       ORG          0
       SPL.B  #   -10, }   -23     
       MOV.I  <    31, {    -1     
       MOV.I  {    -1, <    -2     
       MOV.I  <    -3, {    17     
       DJN.F  $    -2, <    33     
       END
