       ORG          0
       MOV.I  }    -4, $    35     
       SPL.B  #   -12, <    34     
       MOV.I  $    -6, {    -1     
       MOV.I  >    37, <    32     
       DJN.X  $    -2, <   -30     
       END
