       ORG          0
       SPL.B  #     9, }     0     
       MOV.I  >    31, }    -1     
       MOV.I  >   -39, }    -2     
       MOV.I  #    10, }    -3     
       DJN.F  $    -2, }    -4     
       END
