       ORG          0
       SPL.B  #    -1, }    35     
       SPL.B  #   -25, }   -28     
       MOV.I  #   -24, }     1     
       MOV.I  #   -23, }     1     
       DJN.F  $    34, $     6     
       END
