       ORG          0
       SPL.B  #    39, {   -22     
       MOV.I  {   -36, {    -8     
       MOV.I  $    -3, <    -2     
       MOV.I  >    34, {    28     
       DJN.F  $    -2, {    39     
       END
