       ORG          0
       SPL.B  #   -39, >   -18     
       MOV.I  *   -12, {    -4     
       MOV.I  >   -29, {    -2     
       DJN.X  $    -2, $    -3     
       SPL.B  #    -6, $    -4     
       END
