       ORG          0
       SPL.B  #   -30, >    28     
       MOV.I  *   -12, {     0     
       MOV.I  >    34, {    -2     
       DJN.F  $    -2, $    -3     
       DJN.F  $    -3, {    -4     
       END
