       ORG          0
       SPL.I  #   -30, >    21     
       SPL.B  #   -37, }    31     
       MOV.I  #   -24, }     1     
       MOV.I  #   -23, }     1     
       DJN.F  $    38, {    12     
       END
