       ORG          0
       SPL.B  #    39, {   -24     
       MOV.I  {    32, {    -8     
       MOV.I  $    -3, <    -2     
       MOV.I  {    34, {    28     
       DJN.F  $    -2, {    16     
       END
