       ORG          0
       SPL.B  #   -30, >    28     
       MOV.I  *    -5, {     0     
       MOV.I  >   -29, {    -2     
       DJN.X  $    -2, $    -3     
       MOV.I  *   -12, {    -7     
       END
