       ORG          0
       SPL.B  #    10, <    -7     
       MOV.I  $     3, }    -1     
       MOV.I  >    33, <    -9     
       DJN.F  $    -2, }    -3     
       DAT.F  $     5, }     0     
       END
