       ORG          0
       MOV.I  <   -36, $    13     
       MOV.I  <    38, $   -33     
       SPL.B  #   -11, >    32     
       MOV.I  *    15, {    -1     
       DJN.F  $    -1, $    -2     
       END
