       ORG          0
       SPL.B  #   -12, <   -29     
       MOV.I  $    -2, {    -2     
       MOV.I  {    -3, <   -31     
       MOV.I  #     7, }     1     
       DJN.F  {    10, <   -25     
       END
