       ORG          0
       SPL.A  #   -35, <    35     
       MOV.I  >   -24, {    -1     
       MOV.I  >   -21, <    33     
       MOV.I  @    -5, {    -8     
       DJN.I  $    -2, <   -30     
       END
