       ORG          0
       SPL.X  #    -3, >    40     
       MOV.I  #    22, <    17     
       MOV.I  *   -38, {    -2     
       MOV.I  >   -33, <    31     
       DJN.I  $    -2, <   -22     
       END
