       ORG          0
       MOV.F  }   -23, $   -39     
       SPL.AB #   -26, {    -6     
       MOV.I  <    26, {    -1     
       MOV.I  {    -1, <    -2     
       DJN.I  $    -2, @    -2     
       END
