       ORG          1
       ADD.AB #    -4, #    -8     
       JMZ.F  $    -1, <    -1     
       MOV.I  >    40, @    -2     
       SPL.B  $    -2, >   -11     
       MOV.I  #     1, $     1     
       END
