       ORG          0
       SPL.X  #    -5, >   -39     
       MOV.I  #    39, <     2     
       MOV.I  {    -1, {    -2     
       MOV.I  >    30, {    23     
       DJN.B  $    -3, }    26     
       END
