       ORG          0
       SPL.B  #     1, >   -13     
       MOV.I  }    -2, }     1     
       SPL.B  <    23, }   -32     
       MOV.I  #   -20, }     1     
       DJN.F  <    35, <    -8     
       END
