       ORG          0
       SPL.B  #     0, <   -28     
       MOV.I  }    -1, }     1     
       SPL.B  <    11, >   -24     
       MOV.I  }    30, <   -31     
       DJN.F  $    -1, <   -20     
       END
