       ORG          0
       SPL.B  #   -39, >   -34     
       MOV.I  }   -19, {    -1     
       MOV.I  >    20, {    -1     
       MOV.I  >   -14, {    -1     
       MOV.I  >    21, {    -5     
       END
