       ORG          0
       MOV.I  <   -39, $   -12     
       SPL.I  #   -16, >    27     
       MOV.I  <    -1, {    -2     
       MOV.I  {    -3, {    -2     
       DJN.I  $    -2, $    -3     
       END
