       ORG          0
       SPL.B  #    11, >   -35     
       MOV.I  }     1, }    -1     
       MOV.I  >    27, {   -13     
       DJN.A  $    -2, >   -27     
       MOV.I  #     1, $     1     
       END
