       ORG          0
       JMZ.BA #    10, {    -4     
       SPL.A  #    25, *    -5     
       MOV.I  *   -28, {    -6     
       MUL.I  }   -25, {   -25     
       DAT.B  {   -26, >    -5     
       END
