       ORG          0
       SPL.B  #   -22, >    19     
       MOV.I  }     3, {    -1     
       SPL.B  $   -25, >   -34     
       SPL.B  $    28, >    39     
       MOV.I  #    -1, $    27     
       END
