       ORG          0
       SPL.B  >     4, >    34     
       SPL.B  #   -21, >   -22     
       MOV.I  $   -23, >    -2     
       DJN.F  $    -1, >    -3     
       MOV.I  #   -25, $     0     
       END
