       ORG          0
       MOV.I  {   -19, $   -28     
       SPL.B  #    38, >    21     
       MOV.I  @   -28, {    -3     
       MOV.I  {    -4, {    -2     
       DJN.F  $    -2, $    -3     
       END
