       ORG          0
       SPL.BA #    -4, <   -17     
       MOV.I  >    26, <   -28     
       MOV.I  >     8, {    -2     
       MOV.I  <   -30, {    -2     
       DIV.F  @   -25, <    -4     
       END
