       ORG          0
       SPL.I  #    11, <   -36     
       MOV.I  <   -17, }    -1     
       MOV.I  >   -16, <   -18     
       MOV.I  >    28, {    -5     
       MOV.I  >    19, <    40     
       END
