       ORG          0
       MOV.I  >    -4, $    30     
       SPL.I  #   -26, >    22     
       MOV.I  }    -6, {     0     
       MOV.I  >   -21, {    -2     
       DJN.I  $    -2, $    -3     
       END
