       ORG          0
       SPL.BA #   -26, {    37     
       MOV.I  <   -11, {    -1     
       MOV.I  >   -38, {    35     
       MOV.I  >    14, {    -4     
       MOV.I  >    10, <   -14     
       END
