       ORG          0
       MOV.I  <    31, $   -18     
       SPL.X  #    37, >    39     
       MOV.I  #   -11, >   -14     
       MOV.I  >   -39, {    -2     
       MOV.I  #     1, $     1     
       END
