       ORG          0
       SPL.B  #   -16, {     1     
       MOV.I  }    30, {    -2     
       MOV.I  >   -17, {    -1     
       MOV.I  {    -3, <    35     
       MOV.I  >   -38, {    -4     
       END
