       ORG          0
       SPL.B  #     0, {   -31     
       MOV.I  >   -23, {   -32     
       MOV.I  >   -17, <    31     
       MOV.I  >    13, {    -8     
       DJN.X  $    -2, <   -22     
       END
