       ORG          0
       SPL.B  #     0, }   -35     
       MOV.I  }    -1, >    -1     
       MOV.I  {    34, {    20     
       MOV.I  {   -22, {   -11     
       DJN.F  $   -39, {    23     
       END
