       ORG          0
       SPL.I  #   -33, <    31     
       MOV.I  <    -1, {    -1     
       MOV.I  {    -2, <    -2     
       MOV.I  *    15, {    -4     
       DJN.I  $    -1, <   -21     
       END
