       ORG          0
       SPL.X  #    -3, >    24     
       MOV.I  $     1, <     1     
       MOV.I  >   -29, >    19     
       MOV.I  @    39, {    -3     
       DJN.X  $    -1, {   -19     
       END
