       ORG          0
       SPL.X  #   -37, <   -15     
       MOV.I  >   -34, {    -1     
       MOV.I  >    22, {    -3     
       MOV.I  }    17, <   -18     
       MOV.I  >    27, {    -1     
       END
