       ORG          0
       SPL.BA #    -5, <   -17     
       MOV.I  @    29, <   -28     
       MOV.I  >    16, {    -2     
       MOV.I  <   -30, {    -2     
       MOV.I  >    13, <   -21     
       END
