       ORG          0
       SPL.X  #   -21, >   -31     
       MOV.I  >    17, {    -1     
       MOV.I  >    10, <    -2     
       MOV.I  <    -3, {    -4     
       DJN.F  $    -2, <   -16     
       END
