       ORG          0
       MOV.F  <    -7, $   -36     
       SPL.I  #    38, >    18     
       MOV.I  *    -3, {    -2     
       MOV.I  {    -3, {    -2     
       DJN.I  $    -2, $    -3     
       END
