       ORG          0
       MOV.I  >    23, $   -36     
       SPL.AB #    -5, <    40     
       MOV.I  >    23, {    -1     
       MOV.I  >   -33, <    -2     
       DJN.I  $    -2, @    -2     
       END
