       ORG          0
       MOV.I  <    -1, $   -33     
       SPL.A  #    -6, <    40     
       MOV.I  *    19, {    -1     
       MOV.I  >   -28, <    -2     
       DJN.F  $    -2, $    -3     
       END
