       ORG          0
       SPL.F  #    39, >   -37     
       MOV.I  <   -19, {    -5     
       MOV.I  *   -11, {    -2     
       MOV.I  >    12, <   -21     
       DJN.F  $    -3, {    19     
       END
