       ORG          0
       MOV.I  <   -34, $    11     
       SPL.I  #    -4, {   -24     
       MOV.I  <    36, {    -1     
       MOV.I  {    -1, {   -26     
       DJN.F  $    -2, {   -21     
       END
