       ORG          0
       SPL.B  #    -3, >   -21     
       MOV.I  @    29, {    -1     
       MOV.I  }   -26, {    -1     
       MOV.I  {    -4, {    -1     
       MOD.I  >    29, {    -2     
       END
