       ORG          0
       MOV.I  >   -39, $    25     
       SPL.B  #     0, <   -17     
       MOV.I  }    -1, >    -1     
       MOV.I  >   -34, {   -33     
       SPL.I  *   -19, <    36     
       END
