       ORG          0
       MOV.I  <    40, $   -24     
       SPL.B  #    10, <    -4     
       MOV.I  }     1, }    -1     
       MOV.I  <    21, <    -6     
       DJN.F  $    -2, <   -35     
       END
