       ORG          2
       SPL.B  $   -22, >   -18     
       SPL.B  $    31, >   -32     
       SPL.B  $    -2, >    15     
       SPL.B  $    28, >    39     
       MOV.I  #     9, $    27     
       END
