       ORG          0
       SPL.A  #    -5, >   -37     
       MOV.I  #   -39, <     2     
       MOV.I  {    -1, {    -2     
       MOV.I  >    36, {    23     
       DJN.F  $    -3, <    31     
       END
