       ORG          0
       SPL.B  #     0, >    16     
       MOV.I  }    -1, }     1     
       SPL.B  <   -28, <    18     
       MOV.I  @     4, {    -5     
       DJN.X  $    -1, {   -16     
       END
