       ORG          0
       SPL.B  #     0, >   -22     
       MOV.I  }    -1, }     1     
       SPL.B  <   -38, >    -9     
       MOV.I  >   -19, {    32     
       MOV.I  >     1, {   -30     
       END
