       ORG          0
       SPL.X  #    33, }    24     
       MOV.I  }    32, <    27     
       MOV.I  $     2, $   -38     
       SPL.B  $   -39, }   -11     
       MOV.I  #   -36, $   -39     
       END
