       ORG          0
       SPL.B  #     0, <   -27     
       MOV.I  }    -1, }     1     
       SPL.B  <   -25, >    28     
       MOV.I  *    40, >   -17     
       DJN.F  $    -1, {    11     
       END
