       ORG          0
       MOV.I  <    32, $    16     
       MOV.I  }    -7, $    11     
       SPL.B  #   -20, >    26     
       MOV.I  @    -4, {    -1     
       DJN.F  $    -1, $    -2     
       END
