       ORG          0
       SPL.I  #   -38, >    -9     
       MOV.I  <    -1, {    -1     
       MOV.I  {    -2, <    -2     
       MOV.I  >   -34, {    -3     
       DJN.I  $    -2, {    -4     
       END
