       ORG          0
       SPL.B  #    36, <   -36     
       MOV.I  <    36, $   -34     
       ADD.F  $    -2, $    -1     
       MOV.I  $     2, <   -39     
       DJN.F  $    -3, <   -12     
       END
