       ORG          0
       SPL.B  #     0, <   -30     
       MOV.I  <    -1, {    -9     
       MOV.I  $    18, <    -2     
       DJN.I  $    -2, {   -22     
       SPL.F  }   -33, {    18     
       END
