       ORG          0
       SPL.BA #    31, <    -4     
       MOV.I  >   -33, {    -1     
       MOV.I  >    12, {   -36     
       MOV.I  {    -3, <    -7     
       DJN.I  $    -2, {   -23     
       END
