       ORG          0
       SPL.BA #    32, >   -27     
       MOV.I  >   -21, {    -1     
       MOV.I  {    -2, {    -3     
       MOV.I  {    -4, {   -34     
       DJN.F  $    -2, >   -35     
       END
