       ORG          0
       SPL.A  #    25, >    30     
       MOV.I  >    -6, {    -1     
       MOV.I  @    39, {    -1     
       MOV.I  {    -2, {    38     
       DJN.I  $    -2, $    -4     
       END
