       ORG          0
       MOV.I  >   -25, $   -37     
       SPL.X  #   -21, >    30     
       MOV.I  #    11, <    26     
       MOV.I  >    31, }    -3     
       DJN.I  $    -2, <    -7     
       END
