       ORG          0
       MOV.I  <    -4, <     2     
       SPL.B  #   -14, <   -29     
       MOV.I  <    15, {   -10     
       MOV.I  }    -1, <   -31     
       DJN.F  $    -2, <   -32     
       END
