       ORG          0
       MOV.I  <   -10, $    29     
       SPL.B  #    25, <   -22     
       MOV.I  <   -15, {    -1     
       MOV.I  }    -1, <   -24     
       DJN.F  $    -2, <   -25     
       END
