       ORG          3
       SPL.B  #   -27, >    -8     
       MOV.I  }    -2, }    -1     
       DJN.I  {   -26, <    13     
       SPL.B  $    -3, <   -17     
       MOV.I  #     1, $     1     
       END
