       ORG          0
       SPL.B  #     0, <    -4     
       MOV.I  }    -1, }     1     
       SPL.B  <   -26, >   -13     
       MOV.I  *     7, <    -3     
       DJN.F  $    -1, <   -35     
       END
