       ORG          0
       SPL.B  #   -34, >    23     
       MOV.I  <    28, {    -1     
       MOV.I  {    -2, <    18     
       MOV.I  >   -17, {    -2     
       DJN.F  <     0, >     0     
       END
