       ORG          0
       SPL.B  #    32, <   -24     
       MOV.I  >    -1, {    -1     
       MOV.I  {    -2, {    -3     
       MOV.I  {    -4, <   -34     
       DJN.X  $    -2, $   -35     
       END
