       ORG          0
       SNE.I  $   -27, $    34     
       ADD.X  $     3, $    -1     
       MOV.I  }    -8, }    -2     
       MOV.I  }    12, >    -3     
       JMP.B  $    -4, {    -6     
       END
