       ORG          0
       SPL.B  #     0, <   -14     
       MOV.I  }    -1, >    -1     
       SPL.B  $   -16, >    34     
       MOV.I  >    26, $   -37     
       DJN.F  <     0, >     0     
       END
