       ORG          0
       MOV.I  >   -32, $    27     
       SPL.X  #   -39, >   -39     
       MOV.I  <    30, {   -13     
       MOV.I  }    -1, <    24     
       DJN.I  $    -2, <   -38     
       END
