       ORG          0
       SPL.B  #    16, <    28     
       MOV.I  <   -15, {   -35     
       MOV.I  {    -1, {    -3     
       MOV.I  <   -28, <    25     
       DJN.F  $    -3, <    33     
       END
