       ORG          0
       SPL.A  #    -9, {   -37     
       MOV.I  $    -3, {    -1     
       DJN.X  $    -1, <    -2     
       DAT.X  $    -9, $   -29     
       MUL.BA $    37, $   -39     
       END
