       ORG          0
       SPL.B  #    -6, >   -35     
       SPL.B  #   -33, <   -39     
       MOV.I  }   -17, {     0     
       MOV.I  #   -12, }     1     
       DJN.I  $    18, <    -3     
       END
