       ORG          0
       SPL.B  #     9, >   -10     
       SPL.B  $    28, >   -15     
       MOV.I  $    -1, $    27     
       MOV.I  $    -1, $    27     
       MOV.I  #    14, $    27     
       END
