       ORG          0
       MOV.I  <    25, $   -39     
       SPL.X  #     8, <    -4     
       MOV.I  }     1, }    -1     
       MOV.I  <    22, <    -6     
       DJN.I  $    -2, <   -29     
       END
