       ORG          0
       MOV.I  }   -10, $   -33     
       SPL.B  #    38, >    24     
       MOV.I  *    26, {    -2     
       MOV.I  {    -3, {    -2     
       DJN.F  $    -2, @    -1     
       END
