       ORG          0
       MOV.I  <   -27, $   -38     
       SPL.B  #    30, >   -22     
       MOV.I  $     1, <     1     
       MOV.I  <     0, <    36     
       DJN.F  $    -2, <   -11     
       END
