       ORG          0
       SPL.B  #    -4, >    38     
       MOV.I  #    32, <     2     
       MOV.I  {    -1, {    -2     
       MOV.I  >   -28, {    26     
       DJN.F  $    -3, <    33     
       END
