       ORG          0
       SPL.I  #    39, >    15     
       MOV.I  }   -20, {     0     
       MOV.I  >   -18, {    -2     
       DJN.F  $    -2, $    -3     
       MOV.I  $    -4, <    24     
       END
