       ORG          0
       SPL.B  #    -4, <   -22     
       MOV.I  @   -39, {    -1     
       MOV.I  >   -36, {    -1     
       MOV.I  {    -1, <   -25     
       MOV.I  #     1, $     1     
       END
