       ORG          1
       SPL.B  $   -22, >    14     
       SPL.B  $     1, >   -34     
       SPL.B  $    -2, >    18     
       SPL.B  $    28, <     3     
       MOV.I  #    10, $    27     
       END
