       ORG          1
       ADD.BA #    -7, #    -5     
       JMZ.I  @     0, *    -1     
       MOV.I  $     0, }    -2     
       DJN.F  $    -2, <   -11     
       MOV.I  #     1, $     1     
       END
