       ORG          0
       MOV.I  >   -28, $    37     
       SPL.B  #   -15, <    28     
       MOV.I  $    -5, {    -1     
       MOV.I  >    39, <    26     
       DJN.F  $    -2, <   -34     
       END
