       ORG          0
       MOV.I  <    32, $    13     
       SPL.I  #   -27, >    24     
       MOV.I  *    -6, {     0     
       MOV.I  <   -23, {    -2     
       DJN.I  $    -2, $    -3     
       END
