       ORG          0
       SPL.B  #    -4, >    37     
       MOV.I  #    36, <     2     
       MOV.I  {    -1, {    -2     
       MOV.I  >   -18, }    21     
       DJN.F  $    -3, $    28     
       END
