       ORG          0
       MOV.I  <    37, $    18     
       MOV.I  $     1, >    29     
       SPL.B  $    28, <    12     
       SPL.B  $    -2, <   -32     
       MOV.I  #    10, $    27     
       END
