       ORG          1
       ADD.A  #     6, @     1     
       JMZ.A  $    -1, {     1     
       MOV.I  #    13, <     0     
       MOV.I  >     0, }    -2     
       DJN.A  $     0, *     0     
       END
