       ORG          0
       SEQ.I  $    39, $   -35     
       SUB.B  #   -34, >     2     
       MOV.I  }   -27, {     1     
       MOV.I  <    31, }    -1     
       DJN.X  $    -2, >    20     
       END
