       ORG          0
       SPL.I  #   -30, >    21     
       MOV.I  *   -12, {     0     
       MOV.I  >   -29, {    -2     
       DJN.X  $    -2, $    -3     
       SPL.I  <    -1, #    35     
       END
