       ORG          0
       SPL.B  #   -28, >   -12     
       MOV.I  #   -15, }     1     
       SPL.F  {    30, >   -20     
       SPL.F  <    16, }    26     
       SPL.F  #    16, }   -34     
       END
