       ORG          0
       SPL.X  #     0, <   -32     
       MOV.I  }    -1, >    -1     
       MOV.I  >   -14, {    -4     
       MOV.I  >   -20, $    25     
       DJN.X  @   -35, $     0     
       END
