       ORG          0
       MOV.I  >   -29, $    22     
       SPL.I  #    -6, >   -38     
       MOV.I  <    -1, {    -1     
       MOV.I  {    -2, <    -2     
       DJN.X  $    -2, <   -27     
       END
