       ORG          0
       SPL.F  #   -15, <    -5     
       MOV.I  *     6, <    -6     
       MOV.I  >    24, $   -23     
       ADD.F  $    -2, $    -1     
       DJN.I  $    -3, @    -3     
       END
