       ORG          0
       SPL.I  #    36, >   -17     
       MOV.I  }    -6, {    -1     
       MOV.I  }   -31, {    -1     
       MOV.I  >   -27, {    -1     
       MOV.I  #     2, }     1     
       END
