       ORG          0
       SPL.I  #    36, >   -32     
       MOV.I  }    -6, {    -1     
       MOV.I  >   -17, {    -1     
       MOV.I  >    18, {    -1     
       MOV.I  #    10, $     1     
       END
