       ORG          0
       SPL.B  #   -21, <   -39     
       MOV.I  <    26, {    -3     
       MOV.I  >    14, {    -2     
       MOV.I  {    -3, <    38     
       DJN.I  $    -2, <   -16     
       END
