       ORG          0
       SPL.B  #   -14, <   -39     
       MOV.I  >    24, {    -4     
       MOV.I  >    13, {    -2     
       MOV.I  {    -3, <    38     
       DJN.X  $    -2, {    -4     
       END
