       ORG          0
       SPL.B  #   -34, >    27     
       SPL.B  #    38, >    18     
       MOV.I  }     3, >    17     
       MOV.I  #    24, }    -1     
       MOV.I  }    17, >   -31     
       END
