       ORG          0
       MOV.I  >   -20, $    19     
       MOV.I  <    37, $    11     
       SPL.X  #    -9, >    40     
       MOV.I  }    31, {    -1     
       MOV.I  >    -2, {    -1     
       END
