       ORG          1
       SUB.AB #    -5, $     1     
       JMZ.F  $    -1, $    11     
       MOV.I  #    25, >    -1     
       DJN.F  $    -2, <    -5     
       JMZ.F  $    -3, >    20     
       END
