       ORG          0
       SPL.F  #     0, >   -29     
       MOV.I  <   -34, <    -6     
       MOV.I  {   -18, {    22     
       MOV.I  }   -22, <   -36     
       DJN.F  $    -3, }    -2     
       END
