       ORG          1
       DAT.F  <    -4, <   -20     
       SPL.X  #     0, {   -29     
       MOV.I  @     0, {    -2     
       MOV.I  >   -27, {   -31     
       DJN.F  $    -2, <    31     
       END
