       ORG          0
       SPL.F  #     0, >    -7     
       MOV.I  >   -18, {     1     
       MOV.I  }    31, <   -28     
       MOV.I  @    28, <    -3     
       DJN.F  $    -3, <    38     
       END
