       ORG          0
       SPL.I  #    23, }     2     
       MOV.I  >    10, }     1     
       MOV.I  >   -34, }    -2     
       MOV.I  #    32, }    -2     
       DJN.F  $    -4, <   -36     
       END
