       ORG          0
       SPL.B  #    34, >   -14     
       MOV.I  #    10, >   -19     
       MOV.I  >   -25, }    -2     
       MOV.I  #    19, >    13     
       MOV.I  #     1, $     1     
       END
