       ORG          0
       SPL.X  #    40, {    -1     
       SPL.B  #   -13, <    -8     
       MOV.I  $    -3, <    -9     
       MOV.I  #     8, }     1     
       DJN.X  $    12, {   -34     
       END
