       ORG          2
       MOV.I  #     1, $    -1     
       SUB.AB #     5, #   -11     
       JMZ.F  $    -1, @    -1     
       MOV.I  $    -3, >    -2     
       DJN.F  $    -2, {    -8     
       END
