       ORG          0
       MOV.I  >    35, $   -15     
       SPL.X  #    11, >   -32     
       MOV.I  >   -13, <   -17     
       MOV.I  >    24, }    -2     
       DJN.X  $    -2, <   -38     
       END
