       ORG          1
       DAT.F  }    40, <   -30     
       SPL.B  #   -34, >    30     
       MOV.I  <    -1, {    -1     
       MOV.I  >    10, {    -9     
       DJN.F  $    -2, <   -26     
       END
