       ORG          0
       SPL.A  #   -31, >    18     
       MOV.I  #    -3, >   -13     
       MOV.I  *     8, {    -2     
       DJN.I  $    -1, $    -3     
       SPL.I  #    27, {    11     
       END
