       ORG          0
       SPL.B  #   -22, >   -37     
       MOV.I  #   -14, {    -1     
       SPL.B  $   -25, >    13     
       SPL.B  $    28, <   -18     
       MOV.I  #   -17, $    27     
       END
