       ORG          0
       MOV.I  <   -36, $   -10     
       SPL.X  #    40, }   -14     
       MOV.I  @    21, <    -1     
       MOV.I  >   -33, {    -2     
       DJN.I  $    -2, @    -1     
       END
