       ORG          0
       SPL.B  #    40, {   -27     
       MOV.I  {   -21, {   -30     
       MOV.I  {    -8, {   -15     
       MOV.I  {    -2, {    23     
       DJN.F  $    -3, {    32     
       END
