       ORG          0
       SPL.B  #   -26, {     1     
       MOV.I  >   -10, {    -1     
       MOV.I  {    -2, {    -1     
       MOV.I  >    31, {    -4     
       MOV.I  #     6, <    12     
       END
