       ORG          0
       SNE.I  $   -12, $    -7     
       SEQ.I  {     1, $   -21     
       MUL.X  #   -26, #    13     
       MOV.I  <    29, >    -1     
       DJN.F  $    -1, }    -1     
       END
