       ORG          0
       SPL.B  #    -4, {    32     
       MOV.I  >    11, {   -31     
       MOV.I  }    -1, {    -4     
       MOV.I  <   -16, {    29     
       DJN.F  $    -3, {   -22     
       END
