       ORG          0
       SPL.F  #   -28, >    34     
       MOV.I  >   -14, {   -38     
       MOV.I  }    -6, <    25     
       MOV.I  }   -22, {    -1     
       MOV.I  >    10, {    -1     
       END
