       ORG          1
       ADD.AB #    -5, $     1     
       JMZ.F  $    -1, $   -10     
       MOV.I  #     4, >    -1     
       SPL.B  $    -2, >    27     
       MOV.I  #     1, $     1     
       END
