       ORG          1
       SLT.I  <   -22, {    36     
       SPL.BA #   -38, }    -9     
       MOV.I  <    -1, {    -3     
       MOV.I  >    12, {    -2     
       MOV.I  {    -3, {    -4     
       END
