       ORG          0
       SPL.B  #   -30, >   -24     
       MOV.I  >    13, {    -9     
       MOV.I  >    -2, {   -27     
       MOV.I  >    31, {    27     
       DJN.X  $    -2, {    37     
       END
